/* Base hidden */
.sidebarText {
  opacity: 0;
  transform: translateY(10px);
}

/* Animate for all small screens and tablets */
@media (max-width: 1024px) {
  .animate {
    animation: slideFade 0.5s ease forwards;
  }
}

@keyframes slideFade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Large screens: desktop fadeIn */
@media (min-width: 1025px) {
  .animate {
    animation: fadeIn 0.9s forwards;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Image fall animation */
@keyframes fall {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-fall {
  animation: fall 0.6s ease-in-out;
}
